<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Globalne ustawienia -->
	<targets>
		<!-- Logi będą zapisywane do pliku -->
		<target xsi:type="File" name="fileLog" fileName="C:\Users\Kiniuś\source\repos\KrystianPS\API Project\InvoiceAPI/NLogs/logfile-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}" />
		<!-- Logi będą widoczne w konsoli podczas debugowania -->
		<target xsi:type="Console" name="consoleLog" />
	</targets>

	<!-- Reguły logowania -->
	<rules>
		<!-- Wszystkie logi INFO i wyżej idą do pliku -->
		<logger name="*" minlevel="Info" writeTo="fileLog" />
		<!-- Wszystkie logi wyświetlają się w konsoli -->
		<logger name="*" minlevel="Debug" writeTo="consoleLog" />
	</rules>
</nlog>